language: go

dist: bionic

go:
  - '1.14'

services:
  - docker

addons:
  apt:
    packages:
      - curl
      - bash
      - wget
      - make

env:
  global:
    - GO111MODULE=on
    - CGO_ENABLED=0
    - GO_VERSION=1.14
    - secure: "tzQgorOybqr1gvKjz9Qe+/C2hzjcwoKPh3cRNHQTCDrYAPNG255x1WxPuUZ3PB/ls1IHHsjhB3zSyOE5mvq+5dclvfJpdAof5suzRJm6hJji3sCK0wg/B96r9uymi8B6XFUcw/MW2O+V7ro37s+ap55WJjBJmWrzXrQ5GwdlDoziTbpFRFphzRxfYsO3ble+Bt6aKjeCa7nNBf/aOlYlORwY2WcdkG8wWy5ciAU4eND1OdfYP9wMh7o4loNHGs2Afhwg0LJtNSeP1xtltFyCc3Z9qBb/4FNcB2gBowebPSZdn1LgZ/aCuBevdfxc0h87ubzYeKO1qfMOZlxMJw8hzAs7CDjykkgWnez/pPqFdgXXq0JnIrHUD7BsWsbzADryuyBkZ+EUJ7LVSmqs8t3GwgouKYMvy49ubroW+25nkLwRlYW8pTXhhT/wqQ/oB8e5Du2eQxtQNn/Jk8G+HAql1EzYKM07m8k1OWO4ODhKr/XBebrTwcsWhqGdGdYXN9dYeZ4ybeCkDk6bZ3Xi7VpI7r+MvEyYgTg30MlQjs/vihHZK3yjO4U1/RUUqlqbhCngDtwl4rz4VMY6/WR0pXfmjNlHN0VK2+LP0ybePLb7J42hzTB+aP4tmdeLk5NLaqA0I0JFii5DzH/UYiDDTfp2SABGxSxtI/osdDpwHud2+8Q="
    - secure: "mDRuoF4qxpjLfriKU0HOS7ozLFhpiv6h2FF4X7RvKLg9S4XLbtbliS3I+M1FWCAyFKWEEwCht70n0y+OaPeo8Q2x22R8Lbh66hZPUFMDM1iiYNZ+jPiCHCy4KRQFFh86o3HZg1XPz194Tw6SC0g+4Re2/kGAmr3+31oHucDLzkT+bFNo5O8fEmzuDgvsQy4XBacndUuxBIs5X6NrMEXsD6IWJoqfdhVdUTDZp9368/iGPCIC2QAg2Lnff26NNa5lNlPbzRAzsnbiaZpiwlgg1g0x6JSFZvtMHJBYjY2DOGFHcZuEKXBd1e5cHJlPRIrLhtLNU77lycnMn6trCsveLq0wS2vkgD4SkbqNHL4Nv0imDV6CU9wll2gPOIlv4LWGDi7ASwJ24uX+Xsk9Kv3uPAliU0n8ST3un7rAx/z/0+bkrqq5pl6A6vSQC1/74fwdux3kzPzCftQCiIHEKS0iqSt68gFaTc/uY2YLVELjsofYOW9/dJLufM/SwmktrkVxX6QF4HliPDh7Dl/aSwC+yGDV9G8lKq4MuoNrb9QfPD/ZDv5aHTtY6CjEGuIBeibWXCyT5kncN+oX1iV6f9+M9BcM/a68iZkLlk4a8mAkn/WTVyuUyBgyP+2tpwEgWyEn4xG6HieCRwalfca+EyPrsRsekpRtgYZw5mvkjx+Ty1w="
    - secure: "i8fUq0VLL7GDFS8Q9lS7xPkko5hhbYK1TSDAq7wELk2CzOIZLSauXGioYl3Hg9Y86PsKqqJQsw2yaebWEPuDaZoI0ywugLbxunb9wHHEqcCIk82qByINpRTgGXnoyWGkvt02VAQpA/wDDUga14P9tic2+Pwr3n14gF1pbLTl1WpXm6BrgQgAK0dPzXLUkOtZtCKusyMuaEtd4ihsme/i23qEMAyJlM7yA5YJQV1NH8thhph92xlGnJyQF3y+khTaHHtnexzlXgxTekorWOXoLwGSUpwGjaWaFJybqyErxFZCmF1eVbN1B0OHZYYWdCu+e2HDCp05Vt1sXWSx3KRC4VR7sSUWoAR043yJO0NcMCZR1ke1HhdJobGkqGqC+/0GafgdfyXFwHCwvgWtS7W7X8OyGcueWpOF2xT6bq0EnBVUCdb6Lj1n0VcNdVR/QXm+GJ6vxMMf4vKFvh9oQU4IZmSu+F61id44zySSurXFZ1Th4wr5va6kRkMBNd8pCwZXMAdiiNZKDGHM4YjkchpUjjKKGX3btmIs9A7wgTAyZu8yxKC/j3Us2YysmDkSMapHnIRyQWCjHFElvlFq1M5LCxP3UBZJdyVdd78TKe6i3EObtaYmGk6QgD1dY8AVC7qjn4GNt885kujGrLTyDIcZ5t8jtaotbMQPN0pDSb0hv24="

script:
  - curl -sL https://git.io/goreleaser | bash -s -- --snapshot --skip-publish --rm-dist

before_deploy:
  - docker login -u "${DOCKER_LOGIN_USERNAME}" -p "${DOCKER_LOGIN_PASSWORD}" quay.io
deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash -s -- --snapshot --skip-publish --rm-dist && docker push "quay.io/mittwald/brudi:latest"
    on:
      tags: false
      branch: master
      condition: $TRAVIS_OS_NAME = linux
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash -s -- --rm-dist
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux