name: Go

on: [push, pull_request]

jobs:

  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release --rm-dist --snapshot --skip-publish -f build/ci/.goreleaser.yml

  test:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Install restic
      run: sudo apt-get install restic

    - name: Update restic
      run: restic --help

    - name: install redis-cli
      run: sudo apt-get install redis-tools

    - name: Test
      run: go test -v ./...
      env:
        RESTIC_PASSWORD: mongorepo